/* common */
	*, *::after, *::before {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.clearfix::before, .clearfix::after {
	  display: table;
	  content: '';
	}
	.clearfix::after {
		clear: both;
	}
	body {
		background-color: #A7A5A6;
	}
	.fl	{
		float: left;
	}
	.fl {
		float: right;
	}

/* keyframe */
	.branding {
	  color: #fff;
	  cursor: pointer;
	  font: 700 64px "microsoft yahei";
	}

	.branding .logo-askew {
	  -webkit-animation-name: unskew;
	          animation-name: unskew;
	  -webkit-animation-duration: .6s;
	          animation-duration: .6s;
	  -webkit-animation-fill-mode: forwards;
	          animation-fill-mode: forwards;
	  -webkit-animation-iteration-count: 1;
	          animation-iteration-count: 1;
	  -webkit-animation-timing-function: cubic-bezier(.75, -2, .75, 2);
	          animation-timing-function: cubic-bezier(.75, -2, .75, 2);
	  -webkit-transform-origin: 86% 15%;
	          transform-origin: 86% 15%;
	}

	.branding:hover .logo-askew {
	  -webkit-animation-name: skew;
	  animation-name: skew;
	  -webkit-animation-duration: 1.2s;
	  animation-duration: 1.2s;
	  -webkit-animation-fill-mode: forwards;
	  animation-fill-mode: forwards;
	  -webkit-animation-iteration-count: 1;
	  animation-iteration-count: 1;
	  -webkit-animation-timing-function: ease-in-out;
	  animation-timing-function: ease-in-out;
	  -webkit-transform-origin: 86% 15%;
	  transform-origin: 86% 15%;
	}

	@-webkit-keyframes unskew {
	  0% {
	    -webkit-transform: rotate(-12deg);
	            transform: rotate(-12deg);
	  }
	  to {
	    -webkit-transform: rotate(0deg);
	            transform: rotate(0deg);
	  }
	}

	@keyframes unskew {
	  0% {
	    -webkit-transform: rotate(-12deg);
	            transform: rotate(-12deg);
	  }
	  to {
	    -webkit-transform: rotate(0deg);
	            transform: rotate(0deg);
	  }
	}

	@-webkit-keyframes skew {
	  40% {
	    -webkit-transform: rotate(-16deg);
	            transform: rotate(-16deg);
	  }
	  60% {
	    -webkit-transform: rotate(-8deg);
	            transform: rotate(-8deg);
	  }
	  to {
	    -webkit-transform: rotate(-12deg);
	            transform: rotate(-12deg);
	  }
	}

	@keyframes skew {
	  40% {
	    -webkit-transform: rotate(-16deg);
	            transform: rotate(-16deg);
	  }
	  60% {
	    -webkit-transform: rotate(-8deg);
	            transform: rotate(-8deg);
	  }
	  to {
	    -webkit-transform: rotate(-12deg);
	            transform: rotate(-12deg);
	  }
	}

/* text-shadow */

 .site-title:hover {
	  color: #1ba1e2;
	  text-decoration: none;
	}
 .site-title {
	  color: #e2e2e2;
	  font-family: 'Press Start 2P', 'Exo 2', cursive, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	  font-weight: normal;
	  font-size: 3em;
	  line-height: 1;
	  text-shadow: #1ba1e2 1px 1px 0, #1ba1e2 -1px 1px 0, #1ba1e2 1px -1px 0, #1ba1e2 -1px -1px 0;
	  -webkit-transition: text-shadow 1s ease;
	  -moz-transition: text-shadow 1s ease;
	  -o-transition: text-shadow 1s ease;
	  -ms-transition: text-shadow 1s ease;
	  transition: text-shadow 1s ease;
	}
 .site-title:hover {
	  color: #1ba1e2;
	  text-decoration: none;
	  text-shadow: rgba(51, 51, 51, 0.7) 10px 10px 10px;
	  -webkit-transition: text-shadow 1s ease;
	  -moz-transition: text-shadow 1s ease;
	  -o-transition: text-shadow 1s ease;
	  -ms-transition: text-shadow 1s ease;
	  transition: text-shadow 1s ease;
	}

/* loading */
	.loading {

	}
	.Loading__Backdrop {
    /* position: fixed; */
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* width: 100%; */
    /* height: 100%; */
    display: table;
    background-color:#efeff4;
  }
	.Loading__Circle{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  .Loading__Circle>div {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    border-radius: 50%;
    border: 4px solid #ffac00;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top-color: rgba(51,51,51,0);
    -webkit-animation: rotate 1.5s infinite linear;
    animation: rotate 1.5s infinite linear;
  }
  .Loading__Circle>p{
    font-size: 14px;
    margin-top:10px;
  }

  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg)
    }

    to {
      -webkit-transform: rotate(1turn)
    }
  }

  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg)
    }

    to {
      -webkit-transform: rotate(1turn)
    }
  }

/* btn-hover */
	.btns-wrap {
		background-color: #435A6B;
		padding-top: 20px;
	}
	.public {
		position: relative;
		width:  100px;
		/* padding: 0 25px; */
		height:  45px;
		text-align: center;
		font-weight: 400;
		line-height: 45px;
		cursor: pointer;
		float: left;
		margin-right: 20px;
    text-decoration: none;
    overflow: hidden;
	}
	.link {
		position: relative;
		display: inline-block;
		/* margin: 25px 25px; */
		margin-left: 20px;
		outline: none;
		color: #ccc;
		/* background: #aab7b7; */
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 400;
		text-shadow: 0 0 1px rgba(255,255,255,0.3);
		font-size: 1.35em;
	}

	.link:hover,link:focus {
		outline: none;
	}

	/* effect1 */
		.effect1::before, .effect1::after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: '';
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
		}
		.effect1::before {
			border-top: 1px solid yellowgreen;
			border-bottom: 1px solid yellowgreen;
			-webkit-transform: scale(0,1);
			transform: scale(0,1);
		}
		.effect1::after {
			border-right: 1px solid yellowgreen;
			border-left: 1px solid yellowgreen;
			-webkit-transform: scale(1,0);
			transform: scale(1,0);
		}

		.effect1:hover::before,
		.effect1:hover::after {
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	/* effect1 */

	/* effect2 */
		.effect2::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border: 1px solid skyblue;
			content: '';
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-transform: scale(0);
			transform: scale(0);
		}
		.effect2:hover::before {
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	/* effect2 */

	/* effect3 */
		.effect3::before,
		.effect3::after {
			position: absolute;
			content: '';
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
		}
		.effect3::before {
	    top: 3px;
	    right: 0;
	    bottom: 3px;
	    left: 0;
			border-top: 1px solid skyblue;
			border-bottom: 1px solid skyblue;
			-webkit-transform: scale(0,1);
			transform: scale(0,1);
			-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
		}

		.effect3::after {
	    top: 0;
	    right: 3px;
	    bottom: 0;
	    left: 3px;
			border-right: 1px solid skyblue;
			border-left: 1px solid skyblue;
			-webkit-transform: scale(1,0);
			transform: scale(1,0);
			-webkit-transform-origin: 100% 0;
			transform-origin: 100% 0;
		}
		.effect3:hover::before, .effect3:hover::after {
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}
		.effect3:hover::after {
			-webkit-transition-delay: 0.15s;
			transition-delay: 0.15s;
		}
	/* effect3 */

	/* effect4 */
		.effect4::before,
		.effect4::after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 50%;
			height: 1px;
			background: hotpink;
			content: '';
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-transform: translate3d(-50%,-50%,0);
			transform: translate3d(-50%,-50%,0);
		}
		.effect4:hover::before {
			opacity: 0.5;
			-webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
			transform: translate3d(-50%,-50%,0) rotate(45deg);
		}
		.effect4:hover::after {
			opacity: 0.5;
			-webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
			transform: translate3d(-50%,-50%,0) rotate(-45deg);
		}
	/* effect4 */

	/* effect5 */
		.effect5 {
	    background: #b9ccd2;
	    color: #252b2d;
	    overflow: hidden;
	    z-index: 1;
	    font-weight: 400;
	    overflow: hidden;
	    padding: 0 25px;
	    width: auto;
		}
		.effect5::after {
	    content: "";
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 500%;
	    height: 1000%;
	    background: #cce0e7;
	    z-index: -1;
	    transform-origin: 0% 0%;
	    transform: translateX(calc(20% - 25px)) translateY(10%) rotate(-45deg);
	    transition: transform .3s;
		}
		.effect5:hover::after {
			transform: translateY(10%) translateX(-25px) rotate(-45deg);
		}
	/* effect5 */

	/* effect6 */
		.effect6 {
			color: #333;
	    font-size: 16px;
	    max-width: 160px;
	    text-transform: uppercase;
	    vertical-align: middle;
	    width: 100%;
	    letter-spacing: 0;
	    transition: all 150ms linear 0s;
	    overflow: visible;
		}
		.effect6::before, .effect6::after {
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    border: 1px solid rgba(255, 255, 255, 0);
	    bottom: 0px;
	    content: " ";
	    display: block;
	    margin: 0 auto;
	    position: relative;
	    -webkit-transition: all 280ms ease-in-out;
	    transition: all 280ms ease-in-out;
	    width: 0;
		}
		.effect6:hover {
	    letter-spacing: 5px;
	    transition: all 150ms linear 0s;
	    text-decoration: none;
		}
		.effect6:hover::before {
			bottom: auto;
	    top: 0;
	    width: 70%;
		}
		.effect6:hover::after, .effect6:hover::before {
			-webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    border-color: #56c5ff;
	    -webkit-transition: width 350ms ease-in-out;
	    transition: width 350ms ease-in-out;
	    width: 70%;
		}
	/* effect6 */

	/* effect7 */
		.effect7 {
	    /* display: inline-block; */
	    width: auto;
	    padding: 0px 25px;
	    transition: background 300ms;
	    color: #333;
		}
		.effect7 .lines {
			display: block;
	    height: 100%;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    z-index: 0;
		}
		.effect7::before, .effect7::after,
		.effect7 .lines::before, .effect7 .lines::after
		{
			background-color: #dd483f;
	    content: "";
	    height: 2px;
	    left: 0;
	    position: absolute;
	    top: 0;
	    transition: transform 300ms;
	    width: 100%;
		}
		.effect7::before {
			bottom: 0;
	    top: auto;
		}
		.effect7 .lines::before, .effect7 .lines::after {
			height: 100%;
	    width: 2px;
		}
		.effect7 .lines::after {
			left: auto;
			right: 0;
		}
		.effect7:hover::before {
			transform: translateX(-100%);
		}
		.effect7:hover::after {
	    transform: translateX(100%);
		}
		.effect7:hover .lines::before {
			transform: translateY(-100%);
		}
		.effect7:hover .lines::after {
			transform: translateY(100%);
		}
	/* effect7 */

	/* effect8 */
		.effect8 {
			width: auto;
			padding: 0px 25px;
	    border: none;
	    background: transparent;
	    color: #333;
		}
		.effect8 span {
			position: absolute;
	    background-color: #dd483f;
	    display: block;
	    transition: all 200ms;
		}
		.effect8 span.line1,
		.effect8 span.line2
		{
			top: 0;
			right: 0;
		}
		.effect8 span.line1,
		.effect8 span.line3
		{
			height: 2px;
			width: 20px
		}
		.effect8 span.line2,
		.effect8 span.line4
		{
			height: 20px;
			width: 2px;
		}
		.effect8 span.line3,
		.effect8 span.line4
		{
			bottom: 0;
			left: 0;
		}
		.effect8:hover,
		.effect8:active
		{
			background-color: transparent;
			color: #333;
		}
		.effect8:hover span.line1,
		.effect8:hover span.line3,
		.effect8:active span.line1,
		.effect8:active span.line3
		{
			width: 100%;
		}
		.effect8:hover span.line2,
		.effect8:hover span.line4,
		.effect8:active span.line2,
		.effect8:active span.line4
		{
			height: 100%;
		}
	/* effect8 */

	/* effect9 */
		.effect9 {
		  width: auto;
		  padding:0 25px;
		  z-index: 0;
		  color:#2e2302;
		  -moz-transition: all 0.1s;
		  -o-transition: all 0.1s;
		  -webkit-transition: all 0.1s;
		  transition: all 0.1s;
		  background: #f8c013;
		}
		.effect9:active {
		  background: #515151;
		  box-shadow: 0px 1px 1px #063e6b;
		}
		.effect9 .anim {
		  -moz-transform: translateY(-50%) translateX(-50%);
		  -ms-transform: translateY(-50%) translateX(-50%);
		  -webkit-transform: translateY(-50%) translateX(-50%);
		  transform: translateY(-50%) translateX(-50%);
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  z-index: -1;
		}
		.effect9 .anim::before {
		  position: relative;
		  content: '';
		  display: block;
		  margin-top: 100%;
		}
		.effect9 .anim::after {
		  content: '';
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  border-radius: 50%;
		}
		.effect9:hover .anim {
		  -moz-animation: anim-out 0.75s;
		  -webkit-animation: anim-out 0.75s;
		  animation: anim-out 0.75s;
		}
		.effect9:hover .anim::after {
		  -moz-animation: anim-out-pseudo 0.75s;
		  -webkit-animation: anim-out-pseudo 0.75s;
		  animation: anim-out-pseudo 0.75s;
		}

		@-webkit-keyframes anim-out {
		  0% {
		    width: 0%;
		  }
		  100% {
		    width: 100%;
		  }
		}
		@-moz-keyframes anim-out {
		  0% {
		    width: 0%;
		  }
		  100% {
		    width: 100%;
		  }
		}
		@-ms-keyframes anim-out {
		  0% {
		    width: 0%;
		  }
		  100% {
		    width: 100%;
		  }
		}
		@keyframes anim-out {
		  0% {
		    width: 0%;
		  }
		  100% {
		    width: 100%;
		  }
		}
		@-webkit-keyframes anim-out-pseudo {
		  0% {
		    background: rgba(0, 0, 0, 0.25);
		  }
		  100% {
		    background: transparent;
		  }
		}
		@-moz-keyframes anim-out-pseudo {
		  0% {
		    background: rgba(0, 0, 0, 0.25);
		  }
		  100% {
		    background: transparent;
		  }
		}
		@-ms-keyframes anim-out-pseudo {
		  0% {
		    background: rgba(0, 0, 0, 0.25);
		  }
		  100% {
		    background: transparent;
		  }
		}
		@keyframes anim-out-pseudo {
		  0% {
		    background: rgba(0, 0, 0, 0.25);
		  }
		  100% {
		    background: transparent;
		  }
		}
	/* effect9 */

	/* effect10 */
		.effect10{
			color: #6f8686;
			text-shadow: 0 0 1px rgba(111,134,134,0.3);
		}
		.effect10::before {
			color: #fff;
			content: attr(data-hover);
			position: absolute;
			opacity: 0;
			text-shadow: 0 0 1px rgba(255,255,255,0.3);
			-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
			-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
			transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
			-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
			-moz-transition: -moz-transform 0.3s, opacity 0.3s;
			transition: transform 0.3s, opacity 0.3s;
			pointer-events: none;
		}
		.effect10:hover::before,
		.effect10:focus::before {
			-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
			-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
			transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
			opacity: 1;
		}
	/* effect10 */

	/* effect11*/
		.effect11 {
			line-height: 2em;
			-webkit-perspective: 800px;
			-moz-perspective: 800px;
			perspective: 800px;
		}
		.effect11 span {
			position: relative;
			display: inline-block;
			padding: 3px 15px 0;
			background: #587285;
			box-shadow: inset 0 3px #2f4351;
			-webkit-transition: background 0.6s;
			-moz-transition: background 0.6s;
			transition: background 0.6s;
			-webkit-transform-origin: 50% 0;
			-moz-transform-origin: 50% 0;
			transform-origin: 50% 0;
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-webkit-transform-origin: 0% 50%;
			-moz-transform-origin: 0% 50%;
			transform-origin: 0% 50%;
		}
		.effect11 span::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #AAB7B7;
			color: #2f4351;
			content: attr(data-hover);
			-webkit-transform: rotateX(270deg);
			-moz-transform: rotateX(270deg);
			transform: rotateX(270deg);
			-webkit-transition: -webkit-transform 0.6s;
			-moz-transition: -moz-transform 0.6s;
			transition: transform 0.6s;
			-webkit-transform-origin: 0 0;
			-moz-transform-origin: 0 0;
			transform-origin: 0 0;
			pointer-events: none;
			text-align: center;
		}
		.effect11:hover span,
		.effect11:focus span {
			background: #2f4351;
		}
		.effect11:hover span::before,
		.effect11:focus span::before {
			-webkit-transform: rotateX(10deg);
			-moz-transform: rotateX(10deg);
			transform: rotateX(10deg);
		}
	/* effect11*/

	/* effect12*/
	  .effect12::before,
	  .effect12::after {
			display: inline-block;
			opacity: 0;
			-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
			-moz-transition: -moz-transform 0.3s, opacity 0.2s;
			transition: transform 0.3s, opacity 0.2s;
		}

		.effect12::before {
			margin-right: 10px;
			content: '[';
			-webkit-transform: translateX(20px);
			-moz-transform: translateX(20px);
			transform: translateX(20px);
		}

		.effect12::after {
			margin-left: 10px;
			content: ']';
			-webkit-transform: translateX(-20px);
			-moz-transform: translateX(-20px);
			transform: translateX(-20px);
		}

		.effect12:hover::before,
		.effect12:hover::after,
		.effect12:focus::before,
		.effect12:focus::after {
			opacity: 1;
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
		}
	/* effect12*/

	/* effect13*/
		.effect13 {
			line-height: 44px;
			-webkit-perspective: 1000px;
			-moz-perspective: 1000px;
			perspective: 1000px;
		}
		.effect13 span {
			position: relative;
			display: inline-block;
			padding: 0 14px;
			background: #3FA46A;
			-webkit-transition: -webkit-transform 0.3s;
			-moz-transition: -moz-transform 0.3s;
			transition: transform 0.3s;
			-webkit-transform-origin: 50% 0;
			-moz-transform-origin: 50% 0;
			transform-origin: 50% 0;
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			transform-style: preserve-3d;
		}
		.effect13 span::before {
	    position: absolute;
	    top: 100%;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: #76E5A5;
	    content: attr(data-hover);
	    -webkit-transition: background 0.3s;
	    -moz-transition: background 0.3s;
	    transition: background 0.3s;
	    -webkit-transform: rotateX(-90deg);
	    -moz-transform: rotateX(-90deg);
	    transform: rotateX(-90deg);
	    -webkit-transform-origin: 50% 0;
	    -moz-transform-origin: 50% 0;
	    transform-origin: 50% 0;
	    text-align: center;
	  }

		.effect13:hover span,
		.effect13:focus span {
			-webkit-transform: rotateX(90deg) translateY(-22px);
			-moz-transform: rotateX(90deg) translateY(-22px);
			transform: rotateX(90deg) translateY(-22px);
		}

		.effect13:hover span::before,
		.effect13:focus span::before {
			background: #1FCB67;
		}
	/* effect13*/

	/* effect14*/
		.effect14::before,
		.effect14::after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100px;
			height: 100px;
			border: 2px solid rgba(0,0,0,0.1);
			border-radius: 50%;
			content: '';
			opacity: 0;
			-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
			-moz-transition: -moz-transform 0.3s, opacity 0.3s;
			transition: transform 0.3s, opacity 0.3s;
			-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
			-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
			transform: translateX(-50%) translateY(-50%) scale(0.2);
		}

		.effect14::after {
			width: 90px;
			height: 90px;
			border-width: 6px;
			-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
			-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
			transform: translateX(-50%) translateY(-50%) scale(0.8);
		}

		.effect14:hover::before,
		.effect14:hover::after,
		.effect14:focus::before,
		.effect14:focus::after {
			opacity: 1;
			-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
			-moz-transform: translateX(-50%) translateY(-50%) scale(1);
			transform: translateX(-50%) translateY(-50%) scale(1);
		}
	/* effect14*/

	/* effect15*/
		.effect15 {
			padding: 12px 10px 10px;
			color: #9E487F;
			text-shadow: none;
			font-weight: 700;
		}

		.effect15::before,
		.effect15::after {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 3px;
			background: #9E487F;
			content: '';
			-webkit-transition: -webkit-transform 0.3s;
			-moz-transition: -moz-transform 0.3s;
			transition: transform 0.3s;
			-webkit-transform: scale(0.85);
			-moz-transform: scale(0.85);
			transform: scale(0.85);
		}

		.effect15::after {
			opacity: 0;
			-webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
			-moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
			transition: top 0.3s, opacity 0.3s, transform 0.3s;
		}

		.effect15:hover::before,
		.effect15:hover::after,
		.effect15:focus::before,
		.effect15:focus::after {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			transform: scale(1);
		}

		.effect15:hover::after,
		.effect15:focus::after {
			top: 0%;
			opacity: 1;
		}
	/* effect15*/

	/* effect16*/
		.effect16 {
			webkit-transition: color 0.3s;
	    -moz-transition: color 0.3s;
	    transition: color 0.3s;
		}

		.effect16::before {
	    position: absolute;
	    top: 100%;
	    left: 50%;
	    color: transparent;
	    content: '•';
	    text-shadow: 0 0 transparent;
	    font-size: 1.2em;
	    -webkit-transition: text-shadow 0.3s, color 0.3s;
	    -moz-transition: text-shadow 0.3s, color 0.3s;
	    transition: text-shadow 0.3s, color 0.3s;
	    -webkit-transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	    transform: translateX(-50%);
	    pointer-events: none;
		}
		.effect16:hover::before,
		.effect16:focus::before {
			color: #fff;
			text-shadow: 10px 0 #fff, -10px 0 #fff;
		}

		.effect16:hover,
		.effect16:focus {
			color: #ba7700;
		}
	/* effect16*/

	/* effect17*/
		.effect17 {
			padding: 10px;
			color: #237546;
			font-weight: 700;
			text-shadow: none;
			transition: color .3s;

		}
		.effect17::before,
		.effect17::after {
			content: "";
			width:  100%;
			height: 2px;
			background-color: #fff;
			position: absolute;
			left: 0;
			-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
			-moz-transition: opacity 0.3s, -moz-transform 0.3s;
			transition: opacity 0.3s, transform 0.3s;
			-webkit-transform: translateY(-10px);
			-moz-transform: translateY(-10px);
			transform: translateY(-10px);
			opacity: 0;
		}
		.effect17::before {
			top: 0px;
		}
		.effect17::after {
			bottom: 0;
			-webkit-transform: translateY(10px);
			-moz-transform: translateY(10px);
			transform: translateY(10px);
		}
		.effect17:hover,
		.effect17:focus {
			color: #fff;
		}
		.effect17:hover::before,
		.effect17:focus::before,
		.effect17:hover::after,
		.effect17:hover::after {
			opacity: 1;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			transform: translateY(0px);
		}
	/* effect17*/

	/* effect18*/
		.effect18 {
			line-height: 2em;
			margin: 15px;
			-webkit-perspective: 800px;
			-moz-perspective: 800px;
			perspective: 800px;
			width: 200px;
			text-align: center;
		}

		.effect18 span {
			position: relative;
			display: inline-block;
			width: 100%;
			padding: 0 14px;
			background: #e35041;
			-webkit-transition: -webkit-transform 0.4s, background 0.4s;
			-moz-transition: -moz-transform 0.4s, background 0.4s;
			transition: transform 0.4s, background 0.4s;
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-webkit-transform-origin: 50% 50% -100px;
			-moz-transform-origin: 50% 50% -100px;
			transform-origin: 50% 50% -100px;
		}

		.effect18 span::before {
			position: absolute;
			top: 0;
			left: 100%;
			width: 100%;
			height: 100%;
			background: #b53a2d;
			content: attr(data-hover);
			-webkit-transition: background 0.4s;
			-moz-transition: background 0.4s;
			transition: background 0.4s;
			-webkit-transform: rotateY(90deg);
			-moz-transform: rotateY(90deg);
			transform: rotateY(90deg);
			-webkit-transform-origin: 0 50%;
			-moz-transform-origin: 0 50%;
			transform-origin: 0 50%;
			pointer-events: none;
			text-align: center;
		}

		.effect18:hover span,
		.effect18:focus span {
			background: #b53a2d;
			-webkit-transform: rotateY(-90deg);
			-moz-transform: rotateY(-90deg);
			transform: rotateY(-90deg);
		}

		.effect18:hover span::before,
		.effect18:focus span::before {
			background: #ef5e50;
		}
	/* effect18*/

	/* effect19*/
		.effect19 {
			padding: 0 5px;
			color: #b4770d;
			font-weight: 700;
			-webkit-transition: color 0.3s;
			-moz-transition: color 0.3s;
			transition: color 0.3s;
		}

		.effect19::before,
		.effect19::after {
			position: absolute;
			width: 100%;
			left: 0;
			top: 50%;
			height: 2px;
			margin-top: -1px;
			background: #b4770d;
			content: '';
			/* z-index: -1; */
			-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
			-moz-transition: -moz-transform 0.3s, opacity 0.3s;
			transition: transform 0.3s, opacity 0.3s;
			pointer-events: none;
		}

		.effect19::before {
			-webkit-transform: translateY(-20px);
			-moz-transform: translateY(-20px);
			transform: translateY(-20px);
		}

		.effect19::after {
			-webkit-transform: translateY(20px);
			-moz-transform: translateY(20px);
			transform: translateY(20px);
		}

		.effect19:hover,
		.effect19:focus {
			color: #fff;
		}

		.effect19:hover::before,
		.effect19:hover::after,
		.effect19:focus::before,
		.effect19:focus::after {
			opacity: 0.7;
		}

		.effect19:hover::before,
		.effect19:focus::before {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		.effect19:hover::after,
		.effect19:focus::after {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	/* effect19*/

	/* effect20*/
		.effect20 {
			padding: 0 20px;
			height: 45px;
			line-height: 45px;
		}

		.effect20::before,
		.effect20::after {
			position: absolute;
			width: 45px;
			height: 2px;
			background: #fff;
			content: '';
			opacity: 0.2;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
			pointer-events: none;
		}

		.effect20::before {
			top: 0;
			left: 0;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			transform: rotate(90deg);
			-webkit-transform-origin: 0 0;
			-moz-transform-origin: 0 0;
			transform-origin: 0 0;
		}

		.effect20::after {
			right: 0;
			bottom: 0;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			transform: rotate(90deg);
			-webkit-transform-origin: 100% 0;
			-moz-transform-origin: 100% 0;
			transform-origin: 100% 0;
		}

		.effect20:hover::before,
		.effect20:hover::after,
		.effect20:focus::before,
		.effect20:focus::after {
			opacity: 1;
		}

		.effect20:hover::before,
		.effect20:focus::before {
			left: 50%;
			-webkit-transform: rotate(0deg) translateX(-50%);
			-moz-transform: rotate(0deg) translateX(-50%);
			transform: rotate(0deg) translateX(-50%);
		}

		.effect20:hover::after,
		.effect20:focus::after {
			right: 50%;
			-webkit-transform: rotate(0deg) translateX(50%);
			-moz-transform: rotate(0deg) translateX(50%);
			transform: rotate(0deg) translateX(50%);
		}
	/* effect20*/


	/* effect21*/
		.effect21 {
			padding: 10px 0;
			border-top: 2px solid #0972b4;
			color: #0972b4;
			text-shadow: none;
		}

		.effect21::before {
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			padding: 10px 0;
			max-width: 0;
			border-bottom: 2px solid #fff;
			color: #fff;
			content: attr(data-hover);
			-webkit-transition: max-width 0.5s;
			-moz-transition: max-width 0.5s;
			transition: max-width 0.5s;
			white-space: nowrap;
		}

		.effect21:hover::before,
		.effect21:focus::before {
			max-width: 100%;
		}
	/* effect21 */

	/* effect22 */
		.effect22 {
			overflow: hidden;
			margin: 0 15px;
		}

		.effect22 span {
			display: block;
			padding: 10px 20px;
			background: #0f7c67;
			-webkit-transition: -webkit-transform 0.3s;
			-moz-transition: -moz-transform 0.3s;
			transition: transform 0.3s;
		}

		.effect22::before {
			position: absolute;
			top: 0;
			left: 0;
			/* z-index: -1; */
			opacity: 0;
			padding: 10px 20px;
			width: 100%;
			height: 100%;
			background: #fff;
			color: #0f7c67;
			content: attr(data-hover);
			-webkit-transition: -webkit-transform 0.3s, opacity: .3s;
			-moz-transition: -moz-transform 0.3s, opacity: .3s;
			transition: transform 0.3s, opacity: .3s;
			-webkit-transform: translateX(-25%);
		}

		.effect22:hover span,
		.effect22:focus span {
			-webkit-transform: translateX(100%);
			-moz-transform: translateX(100%);
			transform: translateX(100%);
		}

		.effect22:hover::before,
		.effect22:focus::before {
			-webkit-transform: translateX(0%);
			-moz-transform: translateX(0%);
			transform: translateX(0%);
			opacity: 1;
		}
	/* effect22 */

	/* effect23 */
		.effect23 {
			margin: 0 20px;
			padding: 18px 20px;
		}

		.effect23::before,
		.effect23::after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: #fff;
			content: '';
			opacity: 0.2;
			-webkit-transition: opacity 0.3s, height 0.3s;
			-moz-transition: opacity 0.3s, height 0.3s;
			transition: opacity 0.3s, height 0.3s;
		}

		.effect23::after {
			top: 100%;
			opacity: 0;
			-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
			-moz-transition: -moz-transform 0.3s, opacity 0.3s;
			transition: transform 0.3s, opacity 0.3s;
			-webkit-transform: translateY(-10px);
			-moz-transform: translateY(-10px);
			transform: translateY(-10px);
		}

		.effect23 span:first-child {
			z-index: 2;
			display: block;
			font-weight: 300;
		}

		.effect23 span:last-child {
			z-index: 1;
			display: block;
			padding: 8px 0 0 0;
			color: rgba(0,0,0,0.4);
			text-shadow: none;
			text-transform: none;
			font-style: italic;
			font-size: 0.75em;
			font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
			opacity: 0;
			-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
			-moz-transition: -moz-transform 0.3s, opacity 0.3s;
			transition: transform 0.3s, opacity 0.3s;
			-webkit-transform: translateY(-100%);
			-moz-transform: translateY(-100%);
			transform: translateY(-100%);
		}

		.effect23:hover::before,
		.effect23:focus::before {
			height: 6px;
		}

		.effect23:hover::before,
		.effect23:hover::after,
		.effect23:focus::before,
		.effect23:focus::after {
			opacity: 1;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			transform: translateY(0px);
		}

		.effect23:hover span:last-child,
		.effect23:focus span:last-child {
			opacity: 1;
			-webkit-transform: translateY(0%);
			-moz-transform: translateY(0%);
			transform: translateY(0%);
		}
	/* effect23 */

	/* 扫光 */
	.logo-site {
		position: relative;
		display: inline-block;
    padding: 5px 10px;
    overflow: hidden;
    transition-duration: .5s;
    display: inline-block;
	}
	.logo-site:before {
		content: "";
		position: absolute;
		left: -665px;
		top: -460px;
		width: 250px;
		height: 15px;
		background-color: rgba(255,255,255,.5);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-animation: searchLights 1s ease-in 1s infinite;
		-o-animation: searchLights 1s ease-in 1s infinite;
		animation: searchLights 1s ease-in 1s infinite;
	}
	@-webkit-keyframes searchLights {
		0% {
			left: -100px;
			top: 0;
		}

		to {
			left: 120px;
			top: 100px;
		}
	}

	@-moz-keyframes searchLights {
		0% {
			left: -100px;
			top: 0;
		}

		to {
			left: 120px;
			top: 100px;
		}
	}

	@keyframes searchLights {
		0% {
			left: -100px;
			top: 0;
		}

		to {
			left: 120px;
			top: 100px;
		}
	}



/* triangle */
	.triangle {
		margin-top: 20px;
	}
	.triangle div {
		float: left;
		margin-left: 20px;
	}
	.triangle .up {
		width:0px;
		height:0px;
		border-left:20px solid transparent;  /* left arrow slant */
		border-right:20px solid transparent; /* right arrow slant */
		border-bottom:20px solid #2f2f2f; /* bottom, add background color here */
	}
	.triangle .down {
		width:0px;
		height:0px;
		border-left:20px solid transparent;  /* left arrow slant */
		border-right:20px solid transparent; /* right arrow slant */
		border-top:20px solid #f00; /* top, add background color here */
	}
	.triangle .right {
		width:0px;
		height:0px;
		border-top:20px solid transparent;  /* left arrow slant */
		border-bottom:20px solid transparent; /* right arrow slant */
		border-left:20px solid green; /* top, add background color here */
	}
	.triangle .left {
		width:0px;
		height:0px;
		border-top:20px solid transparent;  /* left arrow slant */
		border-bottom:20px solid transparent; /* right arrow slant */
		border-right:20px solid yellow; /* top, add background color here */
	}

	.triangle	.tip {
		background: #eee;
		border: 1px solid #ccc;
		padding: 10px;
		border-radius: 8px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		position: relative;
		/* left: 20px; */
		width: 200px;
	}

	/* arrows - :before and :after */
	.triangle	.tip::before {
		position: absolute;
		display: inline-block;
		border-top: 20px solid transparent;
		border-right: 20px solid #eee;
		border-bottom: 20px solid transparent;
		border-right-color: rgba(0, 0, 0, 0.2);
		left: -21px;
		top: 20px;
		content: '';
	}

	.triangle	.tip::after {
		position: absolute;
		display: inline-block;
		border-top: 19px solid transparent;
		border-right: 19px solid #eee;
		border-bottom: 19px solid transparent;
		left: -19px;
		top: 21px;
		content: '';
	}

	.triangle	.btn {
    position: relative;
    display: block;
    float: left;
    /* margin: 200px auto; */
    margin-top: 45px;
    margin-left: 20px;
    width: 100px;
    padding: 5px 20px;
    font-size: 20px;
    background: transparent;
    color: #6bdf4e;
    border: 1px solid #6bdf4e;
    cursor: pointer;
    outline: none;
  }
  .triangle	.btn::after {
    content: attr(data-tip);
    /* display: none; */
    opacity: 0;
    position: absolute;
    padding: 5px 10px;
    left: 50%;
    bottom: 100%;
    margin-bottom: 12px;
    transform: translateX(-50%);
    font-size: 16px;
    background: #000;
    color: #fff;
    cursor: default;
    transition: opacity .5s ease 0.2s;
  }
  .triangle	.btn::before {
    content: " ";
    position: absolute;
    /* display: none; */
    opacity: 0;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    margin-bottom: 3px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid #000;
    transition: opacity .5s ease 0.2s;
  }
  .triangle	.btn:hover::after,
  .triangle	.btn:hover::before {
    /* display: block; */
    opacity: .8;
  }

/* form  */
	/* search */
		.search-field {
			margin-top:  100px;
			border: none;
			cursor: pointer;
			height: 37px;
			margin: 3px 0;
			padding: 0 0 0 34px;
			position: relative;
			transition: width 400ms ease, background 400ms ease;
			width: 0;
		}

		.search-field:focus {
			background-color: #fff;
			border: 2px solid #c3c0ab;
			cursor: text;
			outline: 0;
			width: 230px;
		}

/* Navigation Arrow / Dots */
	/* Arrow */
		.nav-arrow span {
			/* position: absolute; */  /*小箭头两端对齐*/
			top: 50%;
			z-index: 1000;
			display: block;
			width: 100px;
			height: 100px;
			outline: none;
			text-align: left;
			cursor: pointer;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
		}

		.nav-arrow span.prev {
			left: 0;
		}

		.nav-arrow span.next {
			right: 0;
		}

		.nav-arrow i {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
		}

		.nav-arrow span::before,
		.nav-arrow span::after,
		.nav-arrow i::before,
		.nav-arrow i::after {
			position: absolute;
			left: 50%;
			width: 3px;
			height: 50%;
			outline: 1px solid transparent;
			background: #dbccd0;
			content: '';
			-webkit-transition: -webkit-transform 0.3s;
			transition: transform 0.3s;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
		}

		.nav-arrow i::before,
		.nav-arrow i::after {
			z-index: 100;
			height: 0;
			background: #fff;
			-webkit-transition: height 0.3s, -webkit-transform 0.3s;
			transition: height 0.3s, transform 0.3s;
		}

		.nav-arrow span::before,
		.nav-arrow i::before {
			top: 50%;
			-webkit-transform: translateX(-50%) rotate(-135deg);
			transform: translateX(-50%) rotate(-135deg);
			-webkit-transform-origin: 50% 0%;
			transform-origin: 50% 0%;
		}

		.nav-arrow span.next::before,
		.nav-arrow span.next i::before {
			-webkit-transform: translateX(-50%) rotate(135deg);
			transform: translateX(-50%) rotate(135deg);
			-webkit-transform-origin: 50% 0%;
			transform-origin: 50% 0%;
		}

		.nav-arrow span::after,
		.nav-arrow i::after {
			top: 50%;
			-webkit-transform: translateX(-50%) rotate(-45deg);
			transform: translateX(-50%) rotate(-45deg);
			-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
		}

		.nav-arrow span.next::after,
		.nav-arrow span.next i::after {
			-webkit-transform: translateX(-50%) rotate(45deg);
			transform: translateX(-50%) rotate(45deg);
			-webkit-transform-origin: 100% 0%;
			transform-origin: 100% 0%;
		}


		.nav-arrow span:hover i::before,
		.nav-arrow span:hover i::after {
			height: 50%;
		}

		.nav-arrow span:hover::before,
		.nav-arrow span:hover i::before {
			-webkit-transform: translateX(-50%) rotate(-125deg);
			transform: translateX(-50%) rotate(-125deg);
		}

		.nav-arrow span.next:hover::before,
		.nav-arrow span.next:hover i::before {
			-webkit-transform: translateX(-50%) rotate(125deg);
			transform: translateX(-50%) rotate(125deg);
		}

		.nav-arrow span:hover::after,
		.nav-arrow span:hover i::after {
			-webkit-transform: translateX(-50%) rotate(-55deg);
			transform: translateX(-50%) rotate(-55deg);
		}

		.nav-arrow span.next:hover::after,
		.nav-arrow span.next:hover i::after {
			-webkit-transform: translateX(-50%) rotate(55deg);
			transform: translateX(-50%) rotate(55deg);
		}
	/* Dots */
		.nav-dots {
			/* text-align: center; */
			/* position: absolute; */    /*居中、定位*/
			/* bottom: 2%; */
			height: 30px;
			width: 100%;
			left: 0;
			z-index: 1000;
		}
		.nav-dots span {
			display: inline-block;
			cursor: pointer;
			position: relative;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background: rgba(150,150,150,0.1);
			margin: 6px;
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			-ms-transition: all 0.2s;
			-o-transition: all 0.2s;
			transition: all 0.2s;
			box-shadow:
				0 1px 1px rgba(255,255,255,0.4),
				inset 0 1px 1px rgba(0,0,0,0.1),
				0 0 0 2px rgba(255,255,255,0.5);
		}
	  .nav-dots span.nav-dot-current,
	  .nav-dots span:hover {
			box-shadow:
				0 1px 1px rgba(255,255,255,0.4),
				inset 0 1px 1px rgba(0,0,0,0.1),
				0 0 0 5px rgba(255,255,255,0.5);
		}
		.nav-dots span.nav-dot-current::after {
			content: "";
			position: absolute;
			width: 10px;
			height: 10px;
			top: 3px;
			left: 3px;
			border-radius: 50%;
			background: rgba(255,255,255,0.8);
		}


/* sidebar-btn */

	.sidebar-toggle {
		box-sizing: content-box;
		position: fixed;
	  right: 30px;
	  bottom: 45px;
	  width: 14px;
	  height: 14px;
	  padding: 5px;
	  background: #222;
	  line-height: 0;
	  z-index: 1050;
	  cursor: pointer;
	}

	@media (min-width: 768px) and (max-width:991px) {
	  .sidebar-toggle {
	      display:none !important;
	  }
	}

	.sidebar-toggle-line {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 2px;
    width: 100%;
    margin-top: 3px;
    background: #87daff;
    transition: all .5s;
	}

	.sidebar-toggle-line:first-child {
	    margin-top: 0;
	    width: 100%;
	    top: 0px;
	    left: 0px;
	    transform: rotateZ(0deg);
	    opacity: 1;
	}

	.sidebar-toggle-line.sidebar-toggle-line-middle {
		opacity: 1;
		width: 100%;
		left: 0px;
		top: 0px;
		transform: rotateZ(0deg);
	}

	sidebar-toggle-line:last-child {
		top: 0px;
		transform: rotateZ(0deg);
		width: 100%;
		opacity: 1;
		left: 0px;
	}

	.sidebar-toggle:hover .sidebar-toggle-line:first-child  {
		top: 2px;
		transform: rotateZ(-45deg);
		width: 50%;
		opacity: 1;
		left: 0px;
	}

	.sidebar-toggle:hover .sidebar-toggle-line:last-child  {
		top: -2px;
		left: 0px;
		transform: rotateZ(45deg);
		width: 50%;
		opacity: 1;
	}



	.sidebar-toggle:active .sidebar-toggle-line:first-child  {
		width: 100%;
		top: 5px;
		transform: rotateZ(-45deg);
		opacity: 1;
		left: 0px;
	}

	.sidebar-toggle:active  .sidebar-toggle-line.sidebar-toggle-line-middle {
		width: 92.0611%;
		opacity: 0;
		left: 0px;
		top: 0px;
		transform: rotateZ(0deg);
	}

	.sidebar-toggle:active .sidebar-toggle-line:last-child  {
		width: 100%;
		top: -5px;
		transform: rotateZ(45deg);
		opacity: 1;
		left: 0px;
	}

/* eye */
	.beast {
    float: left;
    margin: 0
	}

	#beastainer {
		float: left;
		padding: 20px 0 20px 20px;
		position: relative
	}

	#beast404le,#beast404re {
		position: absolute;
		-webkit-animation-delay: 3s;
		animation-delay: 3s;
		-webkit-animation-duration: 7s;
		animation-duration: 7s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-play-state: running;
		animation-play-state: running
	}

	@keyframes crazylefteye {
    0%,100%,70% {
      left: 125px;
      top: 65px
    }

    10%,20% {
      left: 118px;
      top: 56px
    }

    40% {
      left: 148px;
      top: 62px
    }

    50% {
      left: 145px;
      top: 72px
    }

    60% {
      left: 121px;
      top: 70px
    }
	}

	@keyframes crazyrighteye {
    0%,100%,70% {
      left: 231px;
      top: 68px
    }

    10%,20% {
      left: 212px;
      top: 62px
    }

    40% {
      left: 239px;
      top: 64px
    }

    50% {
      left: 240px;
      top: 80px
    }

    60% {
      left: 215px;
      top: 73px
    }
	}

	#beast404re {
		left: 231px;
		top: 68px;
		-webkit-animation-name: crazyrighteye;
		animation-name: crazyrighteye
	}

	#beast404le {
		left: 125px;
		top: 65px;
		-webkit-animation-name: crazylefteye;
		animation-name: crazylefteye
	}



/* tip */
	.tip-wrap {
		position: relative;
	}
	.tip-point{
    background: #c6bf28;
    border:2px solid rgba(255,255,255,1);
    width:12px;
    height:12px;
    display: block;
    opacity: 0.6;
    box-shadow: 0px 0px 4px #333;
    position: absolute;
    border-radius: 20px;
    box-sizing: border-box;
    z-index:1001;
	}
	.tip-point.active{
	    z-index:1003;
	}
	.tip-comment-form{
    background: #fff;
    width:300px;
    height:111px;
    position: absolute;
    border:1px solid #ddd;
    box-sizing: border-box;
	}
	.tip-comments {
    position: absolute;
    text-align: left;
    z-index:1002;
	}
	.tip-comments{
    background: #fff;
    width:300px;
    border:1px solid #ddd;
    box-sizing: border-box;
	}
	.tip-comment-form textarea{
    width:100%;
    border:none;
    box-sizing: border-box;
    box-shadow: none;
    height:70px;
    overflow: auto; word-wrap: break-word; resize: none;
	}
	.tip-comment-form button{
    width:100%;
    box-sizing: border-box;
    background: #ccc;
    color:#fff;
    height:30px;
    border:none;
	}
	.tip-comment-form button:hover{
    background: #ddd;
	}
	.tip-comment-form .tip-submit{
    background: #3498DB;
	}
	.tip-comment-form .tip-submit:hover{
    background: #3cb1ff;
	}

	@-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(0)
    }

    100% {
      -webkit-transform: scale(1);
      opacity: 0
    }
	}

	@-ms-keyframes pulse {
    0% {
      -ms-transform: scale(0)
    }

    100% {
      -webkit-transform: scale(1);
      opacity: 0
    }
	}

	@keyframes pulse {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0)
    }

    100% {
      -webkit-transform: scale(1);
      opacity: 0
    }
	}
	.pulse-inner1,.pulse-inner2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #eee;
    background-color: transparent;
    box-shadow: 0 0 5px #000;
    position: absolute;
    top: -50%;
    left: -50%;
    -webkit-animation: pulse 2s infinite;
    -ms-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    transform-origin:center center;
	}

	.pulse-inner2 {
    -webkit-animation-delay: -1s;
    -ms-animation-delay: -1s;
    animation-delay: -1s
	}

	.tip-comments ul.comment-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 400px;
    overflow: auto;
	}

	.tip-comments ul.comment-list li {
    padding: 10px 20px;
	}

	.tip-comments ul.comment-list li.single-comment {
    border-bottom: 1px solid #eee
	}

	.tip-comments ul.comment-list li.single-comment:last-child {
    border-bottom: 0
	}

	.tip-comments ul.comment-list li.single-comment .comment-body {
    line-height: 1.5;
    word-break: break-all
	}

	.tip-comments ul.comment-list li.single-comment .comment-meta {
    color: #BDC3C7;
    font-size: 11px;
    margin-top: 5px;
    position: relative
	}

	.tip-comments ul.comment-list li.single-comment .comment-meta .author-name {
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
	}

	.tip-comments ul.comment-list li.single-comment .comment-meta .archive {
    opacity: 0
	}

	.tip-comments ul.comment-list li.single-comment .comment-meta .archive a {
    cursor: pointer;
    background: #fff
	}

	.tip-comments ul.comment-list li.single-comment .comment-meta .archive .delete {
    color: #C0392B
	}

	.tip-comments ul.comment-list li.single-comment .comment-meta .archive .delete:hover {
    color: #E74C3C
	}

	.tip-comments ul.comment-list li.single-comment .comment-meta .icon-trash {
    width: 11px;
    height: 11px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #fff;
    -ms-box-shadow: inset 0 0 0 0;
    -o-box-shadow: inset 0 0 0 0;
    box-shadow: 0 0;
    padding: 0;
    cursor: pointer;
    color: #C0392B;
    opacity: 0
	}

	.tip-comments ul.comment-list li.single-comment .comment-meta .icon-trash:hover {
    color: #E74C3C
	}

	.tip-comments ul.comment-list li.single-comment:hover .comment-meta .archive,.tip-comments ul.comment-list li.single-comment:hover .comment-meta .icon-trash {
    opacity: 1
	}
